@import '@/sass/variables';

.designAreaActive {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: none;
  border-radius: 6px;
  width: 243px;
  height: 448px;
  transition: all 250ms;
}

.dropZoneForOtherBlocks {
  width: 100%;
  height: 88%;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  background-color: #dcfce7;

  > div:not(:last-child) {
    margin-bottom: 9.5px;
  }
}
