@import '@/sass/variables';

.mathOperatorsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: max-content;
  padding: 5px;
  border-radius: 6px;
}

.operatorButton {
  width: 23.5%;
  height: 50px;
}
