// variables

// colors
$tw_indigo_400: #818cf8;
$tw_indigo_600: #4f46e5;
$tw_indigo_500: #6366f1;
$tw_gray_100: #f3f4f6;
$tw_gray_200: #e5e7eb;
$tw_gray_300: #d1d5db;
$tw_gray_600: #4b5563;
$tw_gray_800: #1f2937;
