@import "~/src/sass/variables.scss";

.backdrop {
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: fixed;
  top: 0px;
  z-index: 10;

  animation: animationAlertMessageBackdrop 5s ease-in alternate both;
}

.alertContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 300px auto 0px auto;
  max-width: 400px;
  min-height: 100px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #000;
  padding: 20px;

  animation: animationForAlertMessage 5s ease-in-out alternate both;

  .alertHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: $tw_pink_400;
    margin-bottom: 12px;

    .alertHearerText {
      line-height: 0;
      color: $tw_pink_400;
      font-weight: 600;
    }
  }

  .alertMessage {
    margin-top: 5px;
    text-align: center;
    color: #000;
    font-size: 14px;
    margin-bottom: 20px;

    code {
      font-size: 16px;
      font-weight: 700;
      color: $tw_indigo_600;
    }
  }

  button {
    background-color: $tw_indigo_600;
    padding: 8px 12px;
    border-radius: 4px;
    color: #fff;
  }
}

@keyframes animationForAlertMessage {
  from {
    margin: -120px auto 0px auto;
  }

  8% {
    margin: 330px auto 0px auto;
  }

  13% {
    margin: 300px auto 0px auto;
  }

  87% {
    margin: 300px auto 0px auto;
  }

  92% {
    margin: 330px auto 0px auto;
  }

  to {
    margin: -120px auto 0px auto;
  }
}

@keyframes animationAlertMessageBackdrop {
  from {
    opacity: 0;
  }

  8% {
    opacity: 1;
  }

  92% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
