@import '@/sass/variables';

.display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
  width: 100%;
  height: 50px;
  background-color: $tw_gray_100;
  border-radius: 5px;
  font-size: 40px;
  font-weight: 800;
  color: $tw_gray_800;
}
